<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%# <form action="/users" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]">
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]">
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]">
  <input type="submit" value="Submit">
</form> %>

<%# <%= form_tag("/users", method: "post") do 
  <%= label_tag(:username, "Username:") 
  <%= text_field_tag(:username) 
  <%= label_tag(:email, "Email:") 
  <%= text_field_tag(:email) 
  <%= label_tag(:password, "Password:") 
  <%= password_field_tag(:password) 
  <%= submit_tag("Submit") 
<% end %> 

<%= form_with model: User.new do |form| %>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
  <%= form.submit "Submit" %>
<% end %>
